.u-center-text { text-align: center !important; }

.u-margin-bottom-small { margin-bottom: 1.5rem !important; }
.u-margin-bottom-medium {
    margin-bottom: 4rem !important;

    @include respond(tab-port) {
        margin-bottom: 3rem !important;
    }
}

.u-margin-bottom-big { 
    margin-bottom: 8rem !important;

    @include respond(tab-port) {
        margin-bottom: 5rem !important;
    }
}

.u-margin-top-big { margin-top: 8rem !important; }
.u-margin-top-huge { margin-top: 10rem !important; }

//generate utility colors from dark to light 
// $color: rgb(141, 3, 3);
// $color-name: 'grey';


$allcolors: (
    "orange":    orange,
    "green":   green,
);
@each $color-name, $color in $allcolors {
    @for $i from 10 through 100 {
        @if $i % 10 == 0 {
          $percentage: $i*1%;
          @if $i < 50{
            $k : 50 - $i;//change the first value to lighten the whites i.e between 50 to 80
            $kper : $k * 1%;
            .#{$color-name}-#{$i} {
                 background-color: mix(white, $color, $kper);
            } 
        } @else if $i == 50{
            .#{$color-name}-#{$i} {
                background-color: $color;
            }
        }@else if $i > 50{
          $b : $i - 35;//change the second value to darken the blacks i.e between 20 to 50
          $bper : $b * 1%;
            .#{$color-name}-#{$i} {
              background-color: mix(black, $color, $bper);
            }
    
            }
        }
      }
}

//Generate text colors
// @each $color-name, $color in $allcolors {
//     @for $i from 10 through 100 {
//         @if $i % 10 == 0 {
//           $percentage: $i*1%;
//           @if $i < 50{
//             $k : 50 - $i;//change the first value to lighten the whites i.e between 50 to 80
//             $kper : $k * 1%;
//             .#{$color-name}-text-#{$i} {
//                  color: mix(white, $color, $kper);
//             } 
//         } @else if $i == 50{
//             .#{$color-name}-text-#{$i} {
//                 color: $color;
//             }
//         }@else if $i > 50{
//           $b : $i - 35;//change the second value to darken the blacks i.e between 20 to 50
//           $bper : $b * 1%;
//             .#{$color-name}-text-#{$i} {
//               color: mix(black, $color, $bper);
//             }
    
//             }
//         }
//       }
// }


.d-none-sm { 
    @include for-phone-only{
        display: none !important;
    }
 }

 .d-none-md{
    @include for-tablet-portrait-up{
        display: none !important;
    }
 }