

.hero {
    width: 100%;
    height: 600px;

    //First background image
    //background-image: linear-gradient(135deg, $gradient-1, $gradient-2);

    //Second background image
    background-image: url("../images/bg-pattern-intro.svg"), linear-gradient(135deg, $gradient-1, $gradient-2);
    background-size: 350%, 100%;
    background-position: 35% 34%, 0% 0%;
    background-repeat: no-repeat, no-repeat;
    border-bottom-left-radius: 100px;
    padding: 5.7rem 2.5rem 0 2.5rem;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brand {
    height: 3.3rem;
}

.hero-text-wrapper {
    //border: 1px solid greenyellow;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 11rem;

    h1 {
        color: $text-white;
        font-size: 3.4rem;
        text-align: center;
        font-weight: 600;

        span {
            display: block;
        }
    }

    h2 {
        color: $text-white;
        text-align: center;
        font-weight: 300;
        margin-top: 1.3rem;
        font-size: 1.8rem;
    }
}

.btn-wrapper {
    //border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 94%;
    margin-top: 4.5rem;
}

.btn {
    //border: 1px solid blue;
    height: 4.8rem;
    width: 13.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    border-radius: 5rem;
}

.btn-primary {
    background-color: $text-white;
    color: $CTA-text;

    &:hover {
        background-color: $CTA-hover;
        & div:not(:hover){
            color: $text-white;
        }

        div {
            &:hover {
                color: $text-white;
            }
        }
    }
}

.btn-secondary {
    border: 1px solid $text-white;
    color: $text-white;

    &:hover {
        background-color: $text-white;
        & div:not(:hover){
            color: $CTA-hover;
        }
    }

    div {
        &:hover {
            color: $CTA-hover;
        }
    }
}


.menu {
    //border: 1px solid blue;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding-top: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    transition: all 1s ease-in-out;
    z-index: 3;
}

.btn-close {
    //border: 1px solid green;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 86%;
    cursor: pointer;
}

.menu-wrapper {
    background-color: $text-white;
    width: 86%;
    //height: 100px;
    border-radius: 5px;
    margin-top: 4rem;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.1), 0px 20px 30px rgba(0,0,0,0.1);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 2.5rem;

    hr {
        color: $bg-submenu;
        width: 100%;
        margin: 2.8rem 0 1rem 0;
    }
}

.menu-heading {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-items-wrapper {
    width: 100%;
}

.menu-items {
    width: 100%;
    h4 {
        color: $headings;
        font-size: 1.7rem;
        padding: 1.5rem 0;
        cursor: pointer;
    }

    &:hover {
        h4 {
            color: $footer-text;
        }

        .sub-menu {
            display: flex;
        }

        .arrow {
            transform: rotate(-180deg);
        }
    }
}

.sub-menu  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $bg-submenu;
    border-radius: 5px;
    width: 100%;
    padding: 1.4rem;
    a{
        display: block;
        color: $text-blue;
        font-size: 1.5rem;
        font-weight: 600;
        padding: 1rem;

        &:hover {
            color: $headings;
        }
    }

    display: none;
}

.arrow {
    margin-left: 1rem;
    transition: all 0.5s ease-out;
}

.btn-menu-wrapper {
    font-size: 1.7rem;
}

.btn-login {
    color: $headings;
    margin-bottom: 1rem;

    &:hover {
        background-color: $bg-footer;

        & div:not(:hover){
            color: $text-white;
        }

        div {
            &:hover {
                color: $text-white;
            }
        }
    }
}

.btn-singup {
    background-image: linear-gradient(135deg, $gradient-1, $gradient-2);
    color: $text-white;

    &:hover {
        background-image: none;
        border: 1px solid $CTA-hover;

        & div:not(:hover){
            color: $CTA-hover;
        }

        div {
            &:hover {
                color: $CTA-hover;
            }
        }
    }
}

.menu-hide {
    left: 100vw;
    opacity: 0;
}

.hamburger {
    cursor: pointer;
    transition: all 1s ease-in-out
}

.hamburger-hide {
    opacity: 0;
}



